# Dstore #
####################################
.DS_Store
.Rhistory

# Data files #
####################################
/data/**

# python checkpoints #
####################################
.ipynb_checkpoints/
